# Netflix Content — SQL Load Helper

**Purpose:** Load CSVs into a local MySQL database for the Tableau dashboard.  
**Tools:** Python (pandas, SQLAlchemy), MySQL.  
**What this does:**  
1) Connects to MySQL  
2) Creates database if missing  
3) Loads the main `netflix_titles.csv`  
4) (Optional) Loads prepared CSV extracts (movies_vs_tv, content_per_year, etc.) into their own tables

#### Step 1 — Load Main Dataset
We load `netflix_titles.csv` using pandas, clean column names, and preview the first few rows.

In [1]:
import pandas as pd

df = pd.read_csv("../data/netflix_titles.csv.zip")

df.to_csv("../data/netflix_titles_utf8.csv", index=False, encoding="utf-8")

print("Done")

Done

In [2]:
# install once if needed
!pip install sqlalchemy pymysql

Requirement already satisfied: sqlalchemy in /opt/anaconda3/lib/python3.13/site-packages (2.0.39)
Requirement already satisfied: pymysql in /opt/anaconda3/lib/python3.13/site-packages (1.1.2)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/anaconda3/lib/python3.13/site-packages (from sqlalchemy) (4.12.2)

#### Step 2 — Connect to MySQL & Create Database
We define connection settings (user, password, host, port).  
Update these values depending on your MySQL installation.  

If the `netflix` database does not exist, create it.  
This ensures the rest of the notebook can run without manual setup.

In [5]:
from sqlalchemy import create_engine
from sqlalchemy.engine import URL

MYSQL_USER = "your_username"     # replace with your MySQL username
MYSQL_PWD  = "your_password"     # replace with your MySQL password
DB_NAME    = "netflix_db"

url = URL.create(
    drivername="mysql+pymysql",
    username=MYSQL_USER,
    password=MYSQL_PWD,
    host="127.0.0.1",   # or 'localhost'
    port=3306,
    database=DB_NAME,
    query={"charset": "utf8mb4"}
)

engine = create_engine(url)
print("Database connection ready (update user/password before running).")

### Step 3 Write to MySQL

The DataFrame is written into the `netflix_titles` table.  
If the table already exists, it is replaced.

In [6]:
import pandas as pd
from sqlalchemy import types

csv_path = "../data/netflix_titles_utf8.csv"
df = pd.read_csv(csv_path, low_memory=False)

sql_types = {
    "show_id":   types.VARCHAR(20),
    "type":      types.VARCHAR(10),
    "title":     types.VARCHAR(255),
    "director":  types.VARCHAR(255),
    "cast":      types.TEXT,
    "country":   types.VARCHAR(255),
    "date_added":types.VARCHAR(50),
    "release_year": types.Integer,
    "rating":    types.VARCHAR(15),
    "duration":  types.VARCHAR(40),
    "listed_in": types.VARCHAR(255),
    "description": types.TEXT,
}

df.to_sql("netflix_titles", con=engine, if_exists="replace", index=False, dtype=sql_types)
print("Rows written:", len(df))

Rows written: 8807

## Notes
- Update `MYSQL_USER` and `MYSQL_PWD` before running.  
- If errors occur (e.g., `Access denied`), verify that MySQL is running and that the credentials are correct.  
- For Tableau, either connect directly to this MySQL database or use the CSV extracts in the `data/` folder.